<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TaskManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/TaskManagement.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom mb-3" style="background: #0c64e4;  box-shadow: 4px 0px 8px 7px lightgrey">
        <div class="container-fluid justify-content-start" style="height: 60px;">
            <a class="navbar-brand text-white position-relative" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/logo.svg" alt="" width="55" class="position-absolute" style="top: -5px; left: -10px"/>
                <div class="d-inline-block" style="margin-left: 60px">Home</div>
            </a>
            <div>
                @await Component.InvokeAsync("TasksByProject")
            </div>
            <div>
                @await Component.InvokeAsync("TasksByEmployee")
            </div>
            <a class="navbar-brand text-white" asp-area="" asp-controller="Employee" asp-action="Index">Employees</a>
            <a class="navbar-brand text-white" asp-area="" asp-controller="Project" asp-action="Index">Projects</a>
            
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>